<div class="container">
  <div class="row">
    <div class="offset-2 col-8">
      <form [formGroup]="contactForm" (ngSubmit)="editContact()">
        <div class="form-group">
          <label>
            First Name :
            <input class="form-control" type="text" formControlName="firstName" required>
          </label>
          <br>
          <label>
            Last Name :
            <input class="form-control" type="text" formControlName="lastName" required>
          </label>
          <br>
          <label>
            Birth Date :
            <input class="form-control" type="date" formControlName="birthDate" required>
          </label>
          <br>
          <label>
            Phone Number :
            <input class="form-control" type="tel" formControlName="phoneNumber" required>
          </label>
          <br>
          <label>
            Url Image :
            <input class="form-control" type="url" formControlName="urlImage">
          </label>
          <br>
          <br>
          <button type="submit" class="btn btn-info" [type]="!contactForm.valid">Éditer</button>
        </div>
      </form>
    </div>
  </div>
</div>
